.tpl-left-nav.tpl-left-nav-hover
                    .tpl-left-nav-title
                        | Amaze UI 列表
                    .tpl-left-nav-list
                        ul.tpl-left-nav-menu
                            li.tpl-left-nav-item
                                a.nav-link.active(href='index.html')
                                    i.am-icon-home
                                    span 首页
                            li.tpl-left-nav-item
                                a.nav-link.tpl-left-nav-link-list(href='javascript:;')
                                    i.am-icon-table
                                    span 文章管理
                                    i.am-icon-angle-right.tpl-left-nav-more-ico.am-fr.am-margin-right
                                ul.tpl-left-nav-sub-menu
                                    li
                                        a(href='/admin/postsList')
                                            i.am-icon-angle-right
                                            span 文章列表
                                        a(href='/admin/addPost')
                                            i.am-icon-angle-right
                                            span 新建文章
                            li.tpl-left-nav-item
                                a.nav-link.tpl-left-nav-link-list(href='javascript:;')
                                    i.am-icon-wpforms
                                    span 表单
                                    i.am-icon-angle-right.tpl-left-nav-more-ico.am-fr.am-margin-right.tpl-left-nav-more-ico-rotate
                                ul.tpl-left-nav-sub-menu(style='display: block;')
                                    li
                                        a(href='form-amazeui.html')
                                            i.am-icon-angle-right
                                            span Amaze UI 表单
                                            i.am-icon-star.tpl-left-nav-content-ico.am-fr.am-margin-right
                                        a(href='form-line.html')
                                            i.am-icon-angle-right
                                            span 线条表单
                            li.tpl-left-nav-item
                                a.nav-link.tpl-left-nav-link-list(href='login.html')
                                    i.am-icon-key
                                    span 登录