extends ../layout


block content
    
    .tpl-content-wrapper

                if errors&&errors.length
                    ul.errors
                        each item in errors
                            li
                                =item.msg

                .tpl-content-page-title
                    | Amaze UI 表单
                ol.am-breadcrumb
                    li
                        a.am-icon-home(href='#') 首页
                    li
                        a(href='#') 表单
                    li.am-active Amaze UI 表单
                .tpl-portlet-components
                    .portlet-title
                        .caption.font-green.bold
                            span.am-icon-code
                            |  表单
                        .tpl-portlet-input.tpl-fz-ml
                            .portlet-input.input-small.input-inline
                                .input-icon.right
                                    i.am-icon-search
                                    input.form-control.form-control-solid(type='text', placeholder='搜索...')
                    .tpl-block
                        .am-g.tpl-amazeui-form
                            .am-u-sm-12.am-u-md-9
                                form.am-form.am-form-horizontal(action=action,method="POST")
                                    .am-form-group
                                        label.am-u-sm-3.am-form-label(for='user-name') 文章标题 / title
                                        .am-u-sm-9
                                            input#user-name(type='text', placeholder='文章标题 / title',name="title",value=article.title)
                                    .am-form-group
                                        label.am-u-sm-3.am-form-label(for='user-weibo')
                                            | 封面图 
                                            span.tpl-form-line-small-title Images
                                        .am-u-sm-9
                                            .am-form-group.am-form-file.form-file-upload(data-filetype='image',data-url="/admin/upload")
                                                .tpl-form-file-img.file-preview
                                                    img(src='', alt='').JS_img
                                                button.am-btn.am-btn-danger.am-btn-sm(type='button')
                                                    i.am-icon-cloud-upload
                                                    |  添加封面图片
                                                input.JS_upload.upload-input#doc-form-file(type='file', multiple='',name="tupian")
                                    .am-form-group
                                        label.am-u-sm-3.am-form-label(for='user-phone')
                                            | 分类 
                                            span.tpl-form-line-small-title Category
                                        .am-u-sm-9
                                            select(data-am-selected='{searchBox: 1}',name="category",value=article.category)
                                                each item in categories
                                                    option(value='#{item._id}')
                                                        =item.name
                                    .am-form-group
                                        label.am-u-sm-3.am-form-label(for='editor1') 简介 / Intro
                                        .am-u-sm-9
                                            textarea#editor1(placeholder='输入个人简介',name="content",rows="10",cols="80")
                                                =article.content
                                            small 250字以内写出你的一生...
                                    .am-form-group
                                        .am-u-sm-9.am-u-sm-push-3
                                            button.am-btn.am-btn-primary(type='submit') 保存修改
                                            
    script(src="/assets/js/jquery-file-upload/jquery.ajaxfileupload.js").
    script(src="/assets/js/jquery-file-upload/upload.js").
    script(src="/wangeditor/js/wangeditor.min.js").
    script(type="text/javascript").
        //富文本编辑器初始化
        var editorInit = function () {
            var editor = new wangEditor('editor1');
            editor.config.menuFixed = false;
            editor.config.uploadImgFileName = 'tupian';
            editor.config.uploadParams = {
                fileType: 'multipart/form-data'
            };
            editor.config.uploadImgUrl = '/admin/upload';
            editor.config.menus = $.map(wangEditor.config.menus, function (item, key) {
                if (item === 'location') {
                    return null;
                }
                if (item === 'insertcode') {
                    return null;
                }
                return item;
            });
            editor.create();
        }();    
