extends layout

block content
  .am-g.am-g-fixed.blog-fixed.am-u-sm-centered.blog-article-margin
      .am-slider.am-slider-b1(data-am-widget='slider', data-am-slider='{"controlNav":false}')
          ul.am-slides
              li
                  img(src='/blog/assets/i/b1.jpg')
                  .blog-slider-desc.am-slider-desc
                      .blog-text-center.blog-slider-con
                          span
                              a.blog-color(href='') Article  
                          h1.blog-h-margin
                              a(href='') 总在思考一句积极的话
                          p
                              | 那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                          span.blog-bor 2015/10/9
                          br
                          br
                          br
                          br
                          br
                          br
                          br
              li
                  img(src='/blog/assets/i/b2.jpg')
                  .am-slider-desc.blog-slider-desc
                      .blog-text-center.blog-slider-con
                          span
                              a.blog-color(href='') Article  
                          h1.blog-h-margin
                              a(href='') 总在思考一句积极的话
                          p
                              | 那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                          span 2015/10/9
              li
                  img(src='/blog/assets/i/b3.jpg')
                  .am-slider-desc.blog-slider-desc
                      .blog-text-center.blog-slider-con
                          span
                              a.blog-color(href='') Article  
                          h1.blog-h-margin
                              a(href='') 总在思考一句积极的话
                          p
                              | 那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                          span 2015/10/9
              li
                  img(src='/blog/assets/i/b2.jpg')
                  .am-slider-desc.blog-slider-desc
                      .blog-text-center.blog-slider-con
                          span
                              a.blog-color(href='') Article  
                          h1.blog-h-margin
                              a(href='') 总在思考一句积极的话
                          p
                              | 那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                          span 2015/10/9
  .am-g.am-g-fixed.blog-fixed
      .am-u-md-8.am-u-sm-12
          article.am-g.blog-entry-article
              .am-u-lg-6.am-u-md-12.am-u-sm-12.blog-entry-img
                  img.am-u-sm-12(src='/blog/assets/i/f10.jpg', alt='')
              .am-u-lg-6.am-u-md-12.am-u-sm-12.blog-entry-text
                  span
                      a.blog-color(href='') article  
                  span  @amazeUI  
                  span 2015/10/9
                  h1
                      a(href='') 我本楚狂人，凤歌笑孔丘
                  p
                      | 我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变。
                  p
                      a.blog-continue(href='') continue reading
          article.am-g.blog-entry-article
              .am-u-lg-6.am-u-md-12.am-u-sm-12.blog-entry-img
                  img.am-u-sm-12(src='/blog/assets/i/f6.jpg', alt='')
              .am-u-lg-6.am-u-md-12.am-u-sm-12.blog-entry-text
                  span
                      a.blog-color(href='') article 
                  span @amazeUI  
                  span 2015/10/9
                  h1
                      a(href='') 世间所有的相遇，都是久别重逢。
                  p
                      | 你可以选择在原处不停地跟周遭不解的人解释你为何这么做，让他们理解你，你可以选择什么都不讲，自顾自往前走。
                  p
                      a.blog-continue(href='') continue
          article.am-g.blog-entry-article
              .am-u-lg-6.am-u-md-12.am-u-sm-12.blog-entry-img
                  img.am-u-sm-12(src='/blog/assets/i/f12.jpg', alt='')
              .am-u-lg-6.am-u-md-12.am-u-sm-12.blog-entry-text
                  span
                      a.blog-color(href='') article 
                  span @amazeUI
                  span 2015/10/9
                  h1
                      a(href='') 陌上花开，可缓缓归矣。
                  p
                      | 那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。我们就在骑楼下躲雨，看绿色的邮筒孤独地站在街的对面。
                  p
                      a.blog-continue(href='') continue
          article.am-g.blog-entry-article
              .am-u-lg-6.am-u-md-12.am-u-sm-12.blog-entry-img
                  img.am-u-sm-12(src='/blog/assets/i/f22.jpg', alt='')
              .am-u-lg-6.am-u-md-12.am-u-sm-12.blog-entry-text
                  span
                      a.blog-color(href='') article 
                  span @amazeUI
                  span 2015/10/9
                  h1
                      a(href='') 爱自己是终生浪漫的开始
                  p
                      | the whole of life becomes an act of letting go, but what always hurts the most is not taking a moment to say goodbye
                  p
                      a.blog-continue(href='') continue
          article.am-g.blog-entry-article
              .am-u-lg-6.am-u-md-12.am-u-sm-12.blog-entry-img
                  img.am-u-sm-12(src='/blog/assets/i/f18.jpg', alt='')
              .am-u-lg-6.am-u-md-12.am-u-sm-12.blog-entry-text
                  span
                      a.blog-color(href='') article 
                  span  @amazeUI  
                  span 2015/10/9
                  h1
                      a(href='') My dear amazeUI, Hello 
                  p
                      | 那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。我们就在骑楼下躲雨，看绿色的邮筒孤独地站在街的对面。
                  p
                      a.blog-continue(href='') continue reading
          article.am-g.blog-entry-article
              .am-u-lg-6.am-u-md-12.am-u-sm-12.blog-entry-img
                  img.am-u-sm-12(src='/blog/assets/i/f20.jpg', alt='')
              .am-u-lg-6.am-u-md-12.am-u-sm-12.blog-entry-text
                  span
                      a.blog-color(href='') article 
                  span  @amazeUI  
                  span 2015/10/9
                  h1
                      a(href='') My way or the highway
                  p
                      | A big wind rises， clouds are driven away. Home am Inow the world is under my sway. Where are brave men to guard the four frontiers today！
                  p
                      a.blog-continue(href='') continue reading
          article.am-g.blog-entry-article
              .am-u-lg-6.am-u-md-12.am-u-sm-12.blog-entry-img
                  img.am-u-sm-12(src='/blog/assets/i/f19.jpg', alt='')
              .am-u-lg-6.am-u-md-12.am-u-sm-12.blog-entry-text
                  span
                      a.blog-color(href='') article 
                  span  @amazeUI  
                  span 2015/10/9
                  h1
                      a(href='') 一想到你，我这张丑脸上就泛起微笑
                  p
                      | 那一天我二十一岁，在我一生的黄金时代。我有好多奢望。我想爱，想吃，还想在一瞬间变成天上半明半暗的云。
                  p
                      a.blog-continue(href='') continue reading
          ul.am-pagination
              li.am-pagination-prev
                  a(href='') « Prev
              li.am-pagination-next
                  a(href='') Next »
      .am-u-md-4.am-u-sm-12.blog-sidebar
          .blog-sidebar-widget.blog-bor
              h2.blog-text-center.blog-title
                  span About ME
              img.blog-entry-img(src='/blog/assets/i/f14.jpg', alt='about me')
              p 妹纸
              p
                  | 我是妹子UI，中国首个开源 HTML5 跨屏前端框架
              p 我不想成为一个庸俗的人。十年百年后，当我们死去，质疑我们的人同样死去，后人看到的是裹足不前、原地打转的你，还是一直奔跑、走到远方的我？
          .blog-sidebar-widget.blog-bor
              h2.blog-text-center.blog-title
                  span Contact ME
              p
                  a(href='')
                      span.am-icon-qq.am-icon-fw.am-primary.blog-icon
                  a(href='')
                      span.am-icon-github.am-icon-fw.blog-icon
                  a(href='')
                      span.am-icon-weibo.am-icon-fw.blog-icon
                  a(href='')
                      span.am-icon-reddit.am-icon-fw.blog-icon
                  a(href='')
                      span.am-icon-weixin.am-icon-fw.blog-icon
          .blog-clear-margin.blog-sidebar-widget.blog-bor.am-g
              h2.blog-title
                  span TAG cloud
              .am-u-sm-12.blog-clear-padding
                  a.blog-tag(href='') amaze
                  a.blog-tag(href='') 妹纸 UI
                  a.blog-tag(href='') HTML5
                  a.blog-tag(href='') 这是标签
                  a.blog-tag(href='') Impossible
                  a.blog-tag(href='') 开源前端框架
          .blog-sidebar-widget.blog-bor
              h2.blog-title
                  span 么么哒
              ul.am-list
                  li
                      a(href='#') 每个人都有一个死角， 自己走不出来，别人也闯不进去。
                  li
                      a(href='#') 我把最深沉的秘密放在那里。
                  li
                      a(href='#') 你不懂我，我不怪你。
                  li
                      a(href='#') 每个人都有一道伤口， 或深或浅，盖上布，以为不存在。