extends layout

block content
    .am-g.am-g-fixed.blog-fixed.am-u-sm-centered.blog-article-margin
        .am-slider.am-slider-b1(data-am-widget='slider', data-am-slider='{"controlNav":false}')
            ul.am-slides
                li
                    img(src='/blog/assets/i/b1.jpg')
                    .blog-slider-desc.am-slider-desc
                        .blog-text-center.blog-slider-con
                            span
                                a.blog-color(href='') Article  
                            h1.blog-h-margin
                                a(href='') 总在思考一句积极的话
                            p
                                | 那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                            span.blog-bor 2015/10/9
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                li
                    img(src='/blog/assets/i/b2.jpg')
                    .am-slider-desc.blog-slider-desc
                        .blog-text-center.blog-slider-con
                            span
                                a.blog-color(href='') Article  
                            h1.blog-h-margin
                                a(href='') 总在思考一句积极的话
                            p
                                | 那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                            span 2015/10/9
                li
                    img(src='/blog/assets/i/b3.jpg')
                    .am-slider-desc.blog-slider-desc
                        .blog-text-center.blog-slider-con
                            span
                                a.blog-color(href='') Article  
                            h1.blog-h-margin
                                a(href='') 总在思考一句积极的话
                            p
                                | 那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                            span 2015/10/9
                li
                    img(src='/blog/assets/i/b2.jpg')
                    .am-slider-desc.blog-slider-desc
                        .blog-text-center.blog-slider-con
                            span
                                a.blog-color(href='') Article  
                            h1.blog-h-margin
                                a(href='') 总在思考一句积极的话
                            p
                                | 那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                            span 2015/10/9
    .am-g.am-g-fixed.blog-fixed
        .am-u-md-8.am-u-sm-12
            each post in posts
                article.am-g.blog-entry-article
                    .am-u-lg-6.am-u-md-12.am-u-sm-12.blog-entry-img
                        img.am-u-sm-12(src='#{post.imgUrl}', alt='')    
                    .am-u-lg-6.am-u-md-12.am-u-sm-12.blog-entry-text
                        span
                            a.blog-color(href='#') 
                                =post.author.name  
                        span 
                            =post.author.email  
                        span 
                            =moment(post.created).format('YYYY-MM-DD')
                        h1
                            a(href='/posts/view/'+post._id,target="_blank",title="#{post.slug}") 
                                =post.title
                        p
                            !=truncate(post.content,150)
                        p
                            分类&nbsp
                            a(href='/category/'+post.category.name,target="_blank")
                                =post.category.name
                            评论&nbsp
                            =post.comments.length

            ul.am-pagination
                li.am-pagination-prev
                    if pageNum <= 1
                        a(href='#') « Prev
                    else
                        a(href='/?page=#{pageNum-1}') « Prev
                li
                    当前：
                    =pageNum
                    总共：
                    =pageCount
                li.am-pagination-next
                    if pageNum == pageCount
                        a(href='#') Next »
                    else
                        a(href='/?page=#{pageNum+1}') Next »
        include sidebar